<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="firstsuite" parallel="classes" thread-count="2">
    <test name="firsttest">
        <classes >
            <class name="god.testscripts.homepagecase.ClickHomePageBigIco"/>
            <class name="god.testscripts.homepagecase.LookContactPlan"/>
        </classes>
    </test>
</suite>